

.content {
  background-color: #000000;

  .content_center{
    background-image: url("../../../public/img/backgrond.svg");
    max-width: 900px;
    min-height: 800px;
    margin-top: 20px;
    display: flex;
    color: white;
    align-items: center;
  }
  .content_text{
    width: 40%;
  }
  .form{
    margin-left: 10px;
    background-color: white;
    height: 500px;
    width: 450px;
    border-radius: 15px;
    color: black;
    padding: 20px;

    .form_input{
      p{
        font-size: 12px;
        margin-bottom:5px;
      }
      input{
        height: 50px;
        width: 300px;
        font-size: 18px;
        border: none;

        border-bottom: 1px solid #4b4b4b; /* Параметры рамки */

      }
      input:focus  {
        outline:none;
      }
    }

    button{
      height: 50px;
      width: 120px;
    border-radius: 25px;
      color: white;
      font-size: 16px;
    }
    button:hover{
      color: black;
    }
  }
}


@media (max-width: 1000px) {
  .content {
    width: 1000px;

    .content_center{
      width: 800px;
      min-height: 800px;
      margin-top: 20px;
      max-width: 900px;
      background-size: 1000px 800px;



    }
    .content_text{
      h1{
        font-size: 26px;
      }
    }
    .form{

      height: 450px;
      width: 300px;


      .form_input{
        p{
          font-size: 12px;
          margin-bottom:5px;
        }
        input{
          height: 30px;
          width: 200px;

        }
      }

    }
  }
}




@media (max-width: 768px) {
  .content {
    width: 768px;

    .content_center{
      width: 700px;
      flex-direction: column;
      background-size: 768px 800px;


    }
    .content_text{
      margin-top: 50px;

      h1{
        font-size: 20px;
      }
    }
    .form{
        height: 400px;

        h3{
        font-size: 18px;
       }

      p{
        font-size: 14px;
      }

      .form_input{
        p{

        }
        input{
          height: 20px;
          font-size: 16px;
        }
      }

    }
  }
}


@media (max-width: 576px) {
  .content {
    width: 576px;

    .content_center{
      width: 576px;
      background-size: 576px 800px;


    }
    .content_text{
      margin-top: 50px;

      h1{
        font-size: 20px;
      }
    }
    .form{
      height: 400px;
      width: 300px;

    }
  }
}

@media (max-width: 480px) {
  .content {
    width: 480px;
    height: 900px;
    .content_center{
      width: 480px;
      background-size: 480px 800px;


    }
    .content_text{
      margin-top: 50px;
      width: 300px;

      h1{
        font-size: 20px;
      }
    }
    .form{
      margin-top: 30px;
      height: 400px;
      width: 300px;

    }
  }
}


@media (max-width: 320px) {
  .content {
    width: 100%;
    height: 700px;
    .content_center{
      width: 100%;
      min-height: 800px;
      margin-top: 20px;
      max-width: 900px;
      background-size: 350px 800px;



    }
    .content_text{
      width: 80%  ;

      h1{
        font-size: 16px;
      }
      p{
        font-size: 12px;

      }
    }
    .form{

      height: 340px;
      width: 200px;
      h3{
        font-size: 12px;
      }
      p{
        font-size: 8px;
      }

      button{
        height: 30px;
        width: 80px;
        border-radius: 25px;
        color: white;
        font-size: 12px;
      }

      .form_input{

        p{
          font-size: 10px;
          margin-bottom:5px;
        }
        input{

          height: 12px;
          width: 100px;
          font-size: 12px;

        }
      }

    }
  }
}


@media (max-width: 280px) {
  .content {
    width: 280px;
    height: 700px;
    .content_center{
      width: 280px;
      min-height: 800px;
      margin-top: 20px;
      max-width: 900px;
      background-size: 280px 800px;



    }
    .content_text{
      width: 80% ;
      h1{
        font-size: 12px;
      }
      p{
        font-size: 10px;

      }
    }
    .form{

      height: 340px;
      width: 200px;
      h3{
        font-size: 12px;
      }
      p{
        font-size: 8px;
      }

      button{
        height: 30px;
        width: 80px;
        border-radius: 25px;
        color: white;
        font-size: 12px;
      }

      .form_input{

        p{
          font-size: 10px;
          margin-bottom:5px;
        }
        input{

          height: 12px;
          width: 100px;
          font-size: 12px;

        }
      }

    }
  }
}





