.advantages_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  align-items: center;

  .contacts{
    color: white;
    width: 30%;

    p{
      margin-top: 20px;
    }
    a{
      color: white;
    }
  }
  .map{
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .advantages_bottom {
    .contacts {

    }
    }
  .map{
    height: 300px;
  }

  }
@media (max-width: 768px) {
  .advantages_bottom {

    .contacts {
    }
  }
  .map{

  }

}
@media (max-width: 576px) {
  .advantages_bottom {
    flex-direction: column;
    width: 100%;
    margin-top: 100px;


    .contacts {
      width: 80%;
    }
  }
  .map{
    margin-top: 30px;


  }

}
@media (max-width: 480px) {
  .advantages_bottom {
    .contacts {

    }
    .map{
      width: 80%;
      height: 150px;
    }
  }
}

@media (max-width: 320px) {
  .advantages_bottom {
    .contacts {
      p{
        font-size: 14px;
      }
    }
    .map{
      width: 80%;
      height: 10px;
    }
  }
}



